export const sources = [
    './test_roms/pokemon_red.gb',
    './test_roms/dr_mario_usa.gb',
    './test_roms/tetris.gb',
    './test_roms/legend_of_zelda.gb',
    './test_roms/bgbtest.gb',

    // 5
    './test_roms/blargg/cpu_instrs/cpu_instrs.gb', // Passed!
    './test_roms/blargg/cpu_instrs/individual/01-special.gb',
    './test_roms/blargg/cpu_instrs/individual/02-interrupts.gb',
    './test_roms/blargg/cpu_instrs/individual/03-op sp,hl.gb',
    './test_roms/blargg/cpu_instrs/individual/04-op r,imm.gb',
    './test_roms/blargg/cpu_instrs/individual/05-op rp.gb',
    // 10
    './test_roms/blargg/cpu_instrs/individual/06-ld r,r.gb',
    './test_roms/blargg/cpu_instrs/individual/07-jr,jp,call,ret,rst.gb',
    './test_roms/blargg/cpu_instrs/individual/08-misc instrs.gb',
    './test_roms/blargg/cpu_instrs/individual/09-op r,r.gb',
    // 15
    './test_roms/blargg/cpu_instrs/individual/10-bit ops.gb',
    './test_roms/blargg/cpu_instrs/individual/11-op a,(hl).gb',
    './test_roms/blargg/instr_timing/instr_timing.gb',
];
